---
title: David Jegou | Étiomédecine
layout: default
---

<section class="hero">
  <div class="container">
    <div class="cabinet">
      <h1 class="semi-bold">À Nantes</h1>
       <picture>
        <source media="(min-width: 516px)" srcset="./assets/images/big-nantes.webp" width="500"
          height="334">
        <img src="./assets/images/nantes.webp" alt="cabinet d'Étiomédecine de David Jegou à Nantes" width="302"
          height="201">
        </picture>
      <h2>6 Rue des Ajoncs d'Or, 44700 Orvault</h2>
    </div>
    <div class="cabinet">
      <h1 class="semi-bold">À Belz</h1>
      <picture>
        <source media="(min-width: 516px)" srcset="./assets/images/big-belz.webp" width="500"
          height="334">
          <img src="./assets/images/belz.webp" alt="cabinet d'Étiomédecine de David Jegou à Belz" width="302" height="201">
        </picture>
      <h2>52 Rue du Dr Laennec, 56550 Belz</h2>
    </div>
  </div>
  <h1 class="phone semi-bold">07 81 32 23 99</h1>
</section>

{% include moebius.html %}

<section id="etiomedecine">
  <h1 class="title semi-bold">L’étiomédecine, qu’est-ce que c’est ?</h1>
  <picture>
    <source media="(min-width: 576px)" srcset="./assets/images/etiomedecine.webp">
    <img src="./assets/images/small-etiomedecine.webp" alt="Étiomédecine selon David Jegou" />
  </picture>
  <p class="text-body">
   L’étiomédecine a pour vocation de soulager des mémoires de souffrances innées ou acquises à travers lesquelles les êtres 
   appréhendent consciemment ou non la vie et leur propre dynamique au sein de l’existence. Ces mémoires sont comme 
   des filtres posés entre nous et l’existence, distordant notre regard sur celle-ci. 
   Le soin permet de nettoyer cette interface et contribue à « décloisonner » le patient. C’est alors qu’il retrouve 
   ses libertés, lui permettant d’aborder la vie avec plus de justesse et potentiellement de se trouver.
</br></br></br>

   Le soin en étiomédecine n'est pas une technique que l'on dispense ou un protocole prêt à appliquer de manière 
   automatique ou procédurale mais un accueil et un respect de ce que chaque patient ressent dans sa singularité, 
   sans jugements ni conseils.
   C’est un traitement des libertés! Il permet aux patients de lâcher une par une les couches qui sont des freins dans 
   l'expression de leur être.</br></br></br>

  Le traitement passe essentiellement par le fait d’aider le patient à recontacter des ressentis physiques et 
  émotionnels en lien avec des évènements ou des conditionnements, et à libérer les mémoires concernées. Pour 
  cela, le praticien s’aide notamment des réactions du pouls du patient pour le guider pendant le soin. </br></br></br>

  C’est le partage du ressenti, rendu possible par la présence affective et empathique du thérapeute, qui libère 
  la charge de souffrance permettant alors aux symptômes (physiques ou psychiques) et aux fonctionnements qui en 
  découlaient de se dissiper. Il ne s’agit pas d’expliquer les souffrances mais de les vivre et de les partager 
  dans le ressenti, c’est ce partage qui permet leur dilution.
  </br>
  Nous sentir reconnus nous permet de nous libérer, profondément et durablement.
  </p>
</section>

{% include moebius.html %}

<section id='parcours'>
  <h1 class="title semi-bold">Mon parcours</h1>
  <div class="flex-row">
    <p class="text-body beginning">
      </br>

    </p>
    <img src="./assets/images/david_jegou.webp" alt="David Jegou, praticien en Étiomédecine" width="301px"
      height="401px">
  </div>
  <p class="text-body">
   Ostéopathe de formation et n’ayant jamais pu me satisfaire des concepts mécanistes qui m’ont été enseignés, 
   j’explore en premier lieu les savoirs fondateurs de l’ostéopathie auprès de plusieurs formateurs et m’en satisfais 
   un temps, sans pour autant mettre le doigt sur ce que je ressens. J’ai donc très tôt pris mon baluchon pour explorer 
   de nouvelles voies et vivre de nouvelles expériences, intégrant peu à peu la vie en la ressentant, sans manuel.</br></br></br>
   C’est lors d’une mission humanitaire en Amérique latine que se produit mon premier déclic. J’y constate à quel 
   point je suis démuni face aux problématiques rencontrées (souvent issues de passés lourds) et j’en conclue que les
   outils à ma disposition sont trop limités. Cela confirme ce que j’ai toujours instinctivement perçu : la dimension 
   affective a un impact considérable sur la santé et que je ne sais pas comment y accéder. Je traverse alors une longue 
   période de doutes mais la rigueur m’incite à aller voir plus loin.</br></br></br>
   C’est à mon retour en France que je rencontre l’étiomédecine, désireux de régler des problèmes de santé récurrents. C’est 
   l’apparition soudaine d’une première fissure dans mes rigidités, et pour la première fois je me sens COM-PRIS,
   dans mon ensemble. J'en fus déstabilisé au départ, mais les verrous sautant un à un m'offrirent une percée de lumière dans 
   un ciel d’orage, j’avais trouvé, c’était ça! </br></br></br>
   Comme je n’ai jamais su nier les évidences, j’entame dans la foulée la formation auprès de Max Bernardeau en 2009 et j'ai
   tout de suite décidé que ce serait avec cet unique outil que je souhaitais accompagner les patients, en cohérence avec moi-même.</br>
   Et puis avec Max… eh bien nous ne nous sommes plus quittés car je l’ai ensuite accompagné en tant qu’assistant dans ses 
   formations. Maintenant à la retraite, il me transmet le témoin que j’espère humblement pouvoir emmener un petit peu plus 
   loin. Je propose donc également des formations à l'étiomédecine, vous avez toutes les infos ici : https://www.etiomed.com/</br>

  </p>
  <h1 class="title semi-bold black margin-top">Ma Formation</h1>
  <div class="diploma">
    <p class="semi-bold">DIPLOMÉ OSTÉOPATHE DO en 2008</p>
    <p>à IDHEO NANTES</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">OSTÉOPATHIE BIODYNAMIQUE</p>
    <p>avec B. JOSSE</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">OSTÉOPATHIE TISSULAIRE</p>
    <p>avec P. TRICOT</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">PHYSIOLOGIE ÉVOLUTIONNISTE</p>
    <p>avec M. GIRARDIN</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">ÉTIOMÉDECINE en 2009</p>
    <p>avec M. BERNARDEAU</p>
  </div>
</section>

{% include moebius.html %}

<section id="infos">
  <h1 class="title semi-bold">Infos pratiques</h1>
  <div class="addresses">
    <div class="address">
      <h2 class="semibold">Cabinet de Nantes</h2>
      <iframe title="Cabinet d'étiomédecine de David Jegou à Nantes"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10834.154939099093!2d-1.596505!3d47.2451678!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec2f677a0d3b%3A0x93d29d7c2e003fca!2sCabinet%20d&#39;%C3%A9tiom%C3%A9decine%20de%20David%20Jegou%20(Ost%C3%A9opathe%20D.O)!5e0!3m2!1sfr!2sfr!4v1700752457603!5m2!1sfr!2sfr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="address">
      <h2 class="semibold">Cabinet de Belz</h2>
      <iframe title="Cabinet d'étiomédecine de David Jegou à Belz"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10745.75201599014!2d-3.177326!3d47.6759131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48106908ca047645%3A0x23ca7995abfa7f6e!2sCabinet%20d&#39;%C3%A9tiom%C3%A9decine%20de%20David%20Jegou%20Ost%C3%A9opathe%20D.O!5e0!3m2!1sen!2sfr!4v1700753002863!5m2!1sen!2sfr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="texts">
    <h2 class="phone semi-bold">07 81 32 23 99</h2>
    <p>davidjegou.etio@gmail.com</p>
    <p>Tarif des consultations : 75 €.</p>
  </div>
</section>

{% include moebius.html %}

<section>
  <h1 class="title semi-bold">Liens</h1>
  <ul class="links">
    <li>
      <a href="https://www.etiomed.com/" target="_blank">
        etiomed.com
      </a>
      <p>
        Site de de la formation en étiomédecine
      </p>
    </li>
    <li>
      <a href="https://annuaire-etiomedecine.fr/" target="_blank">
        Annuaire étiomédecine
      </a>
      <p>
        Site de référencement des praticiens certifiés
      </p>
    </li>
  </ul>
</section>